extends master

block content
  .container(ng-controller="movieVersusController")

    .row
      .col-md-5 
        h2.v-center {{movie.mainDetail.title}}
        p.lead /// {{movie.mainDetail.critics_consensus || movie.mainDetail.ratings.critics_rating}}

        h3 Total Reviews: {{movie.mainReviews.total}}

        div
          p.review-block(ng-repeat="review in movie.mainReviews.reviews")
            span {{review.quote}}
            span.i.pull-right - {{review.publication}}

      .col-md-2

      .col-md-5 
        h2.v-center {{movie.challengerDetail.title}}
        p.lead /// {{movie.challengerDetail.critics_consensus || movie.challengerDetail.ratings.critics_rating}}

        h3 Total Reviews: {{movie.challengerReviews.total}}

        div
          p.review-block(ng-repeat="review in movie.challengerReviews.reviews")
            span {{review.quote}}
            span.i.pull-right - {{review.publication}}

    